// SECTIONS
// -- Event list --
.event-list-section {
    background-color: $white;

    .event-card {
        font-size: 0.6rem;
        margin-bottom: 30px;

        &:hover .event-card-btn {
            background-color: lighten($primary-color, 5%);
        }

        p {
            margin: 0;
            display: inline-block;
        }
        a {
            color: $dark;
            text-decoration: none;
        }

        .event-card-info {
            //background-color: $primary-color;
            border-bottom: 1px solid $dark;
            padding: 15px 15px;

            .uk-card-badge {
                background-color: lighten($primary-color, 5%);
                font-size: 0.6rem;
                font-weight: 700;
                padding: 5px 10px;
                top: 15px;
                right: 15px;
            }
            p.uk-text-meta {
                font-size: 0.6rem;
                text-transform: uppercase;
                color: $dark;
                margin: 0;

            }
            h2.uk-card-title {
                color: $dark;
                font-size: 1.2rem;
            }
        }
        .event-card-utility {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            padding: 0;

            .region-grape {
                grid-column: 1;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                padding: 15px 15px;
            }
            .rating {
                grid-column: 2;
                border-left: 1px dashed $dark;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 15px 15px;

                .rate {
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
        .event-card-btn {
            background-color: $primary-color;
            border: none;
            padding: 10px 15px;
            cursor: pointer;

            a {
                padding: 0;
                color: $white;
                font-size: $font-size-base;
            }
        }
    }
}



.reg {


    .reg-container {
        padding: 20px;
        margin: 20px;
        h4 {

        }
        .reg-person {
            display: grid;
            grid-template-columns: 1fr;
            padding: 20px;
            margin: 10px;

            .reg-details {
                margin: 15px;
                padding: 20px;
                border-radius: 5px;
                background: #fff;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                h5 {
                    font-size: 14px;
                }
            }
        }
    }
}

// MEDIA QUERIES
// XS-SMALL - MOBILE (EXTRA): This applies from 0 to 320px
@media (max-width: 320px) {

    // -- Event list --
    .event-list-section {
        .event-card {
            .event-card-info {
                padding: 10px 10px;

                .uk-card-badge {
                    top: 10px;
                    right: 10px;
                }
            }

            .event-card-utility {
                .region-grape {
                    padding: 10px 10px;
                }

                .rating {
                    padding: 10px 10px;
                }

                .event-card-btn {
                    padding: 15px 15px;
                }
            }
        }
    }
}

// MEDIUM - TABLET: This applies from 768px & onwards
@media (min-width: 768px) {

    // -- Event list --
    .event-list-section {

        .wine-panel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2em;
        }
        .event-card {
            grid-column: 1;

            .event-card-info {
                padding: 20px 20px;

                .uk-card-badge {
                    top: 20px;
                    right: 20px;
                }
            }
            .event-card-utility {
                .region-grape {
                    padding: 20px 20px;
                }
                .rating {
                    padding: 20px 20px;
                }
            }
            .event-card-btn {
                padding: 15px 20px;
            }
        }
        .event-card:nth-child(2n) {
            grid-column: 2;
        }
    }
}

// XM-MEDIUM - TABLET: This applies from 1024px & onwards
@media (min-width: 1024px) {

    // -- Event list --
    .event-list-section {

        .event-card {
            .event-card-info {
                padding: 30px 30px;

                .uk-card-badge {
                    top: 30px;
                    right: 30px;
                }
            }

            .event-card-utility {
                .region-grape {
                    padding: 30px 30px;
                }

                .rating {
                    padding: 30px 30px;
                }
            }

            .event-card-btn {
                padding: 20px 30px;
            }
        }
    }
}

// LARGE - DESKTOP: This applies from 1440px & onwards
@media (min-width: 1440px) {

    // -- Event info --
    .event-info-section {

        & > .uk-container {
            display: grid;
            grid-template-columns: 2fr 1fr;

            .info-panel {
                grid-column: 1;
            }
        }
    }

    // -- Event list --
    .event-list-section {

        .wine-panel {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2em;
        }

        .event-card:nth-child(2n) {
            grid-column: unset;
        }
        .event-card:nth-child(3n-1) {
            grid-column: 2;
        }
        .event-card:nth-child(3n) {
            grid-column: 3;
        }
    }
}
