// Body
$body-bg: #f8fafc;

// Typography
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.8;
$font-weight-base: 400;
$letter-spacing-base: 0.1em;

// Colors
//$primary-color: #B29A3A;
$primary-color: #d0c5b1;
$secondary-color: #fcfaf9;
$dark: #3B3B3D;
//$grey: #666666;
$light-grey: #EEEEEE;
$black: #000000;
$white: #FFFFFF;

// Admin Colors for CRUD
// -- Create --
$create-green: #83c17a;
$create-light-green: #83c17a38;
$create-hover: #83c17a70;
// -- Disabled --
$disabled-grey: #3B3B3D8C;
$disabled-light-grey: #3B3B3D1A;
// -- Delete --
$delete-red: #ea4949;
