// Body
$body-bg: #f8fafc;

// Typography
$primary-font: 'Jomolhari', serif;
$secondary-font: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$primary-color: #B29A3A;
$primary-color: #d0c5b1;
$secondary-color: #F6F4F0;
$dark: #3B3B3D;
$light-grey: #EEEEEE;
$white: #FFFFFF;
