@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Comfortaa:400,500,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Jomolhari|Montserrat:300,300i,400,400i,500,500i,700,700i&display=swap);.admin-content-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.top-nav {
  background-color: #d0c5b1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 64px;
}

.top-nav .left-side-nav {
  display: grid;
  grid-template-columns: 1fr;
}

.top-nav .left-side-nav .profile-img {
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 10px;
}

.top-nav .left-side-nav .profile-img a {
  color: white;
}

.top-nav .left-side-nav .profile-img img {
  width: 40px;
  border-radius: 50%;
}

.top-nav .left-side-nav .profile-img p {
  color: white;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
}

.top-nav .left-side-nav .profile-img span {
  color: white;
}

.top-nav .right-side-nav .site-links {
  display: grid;
  height: 100%;
  -webkit-box-pack: end;
          justify-content: end;
}

.top-nav .right-side-nav .site-links ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.top-nav .right-side-nav .site-links ul li {
  list-style-type: none;
}

.top-nav .right-side-nav .site-links ul li a {
  color: white;
}

.admin-content-wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
}

.admin-content-wrapper .sidenav {
  background: #d0c5b1;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
}

.admin-content-wrapper .sidenav * {
  color: white;
}

.admin-content-wrapper .sidenav .sidenav-header {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 10px;
}

.admin-content-wrapper .sidenav .sidenav-header h2 {
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin-bottom: 0px;
}

.admin-content-wrapper .sidenav .pages {
  list-style-type: none;
  padding-left: 0px;
}

.admin-content-wrapper .sidenav .pages li {
  padding: 20px 10px;
}

.admin-content-wrapper .sidenav .pages li:hover {
  background: #93C0A4;
}

.admin-content-wrapper .sidenav .pages li a {
  text-decoration: none;
}

.admin-content-wrapper .sidenav .pages li .dropdown {
  float: right;
}

.admin-content-wrapper .sidenav .pages .hidden-menu {
  display: none;
}

.admin-content-wrapper .sidenav .pages .dropdown {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.admin-content-wrapper .content {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url("/images/greek-vase.png");
  background-repeat: repeat;
}

/* Admin Forms*/

.admin-forms {
  background: white;
  padding: 20px;
  margin: 40px;
}

.admin-forms form {
  width: 800px;
  margin: 0 auto;
}

.flash-message-container {
  text-align: center;
  padding: 20px;
}

.disappear {
  opacity: 0;
  -webkit-transition: 2s all ease-out;
  transition: 2s all ease-out;
}

.uk-container--expand {
  padding-left: 0;
  padding-right: 0;
}

.uk-container--padding {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #3B3B3D;
  background-color: #fcfaf9;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.8px;
  color: #3B3B3D;
  font-weight: 500;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.8px;
  color: #3B3B3D;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.primary-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #d0c5b1;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #EEEEEE;
}

.primary-btn a {
  margin: 10px 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.primary-btn a:hover {
  text-decoration: none;
}

.hero-section {
  position: relative;
  height: 472px;
}

.hero-section .hero-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.hero-section .hero-content h1,
.hero-section .hero-content h2 {
  font-size: 2.8rem;
  color: #9b3826;
}

.hero-section .hero-content h1 {
  font-weight: 700;
}

.intro-section p.hightlight {
  color: #d0c5b1;
}

.intro-section .wine-icon {
  width: 50px;
  height: 50px;
  background-color: #3B3B3D;
  border-radius: 50%;
  margin: 10px 0;
}

.intro-section .main-intro-panel {
  margin-bottom: 15px;
}

.intro-section .sub-intro-panel {
  background-color: #FFFFFF;
  padding-top: 15px;
}

.intro-section .intro-panel {
  padding: 0px 15px;
  margin-bottom: 30px;
}

.intro-section .intro-panel p {
  margin-top: 10px;
}

.seperator-section {
  display: grid;
  grid-template-rows: 1fr;
}

.seperator-section .image-bg {
  background-image: url("/images/wineclub-hero.jpg");
  background-size: cover;
  height: 200px;
}

.topwine-section p {
  margin-top: 0;
}

.topwine-section span.wine-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #d0c5b1;
}

.topwine-section .wine-panel {
  margin-top: 20px;
}

.topwine-section .wine-panel .wine-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topwine-section .wine-panel .wine-info .info-box .wine-type .type {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0c5b1;
}

.topwine-section .wine-panel .wine-info .rating-sum {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.topwine-section .wine-panel .wine-info .rating-sum .rating {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.topwine-section .wine-panel .wine-info .rating-sum .rating:before {
  content: "";
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px dotted #d0c5b1;
  position: absolute;
  top: -25px;
  left: -23px;
  right: 0;
}

.topwine-section .wine-panel .wine-info .rating-sum .rating-btn {
  text-align: center;
  margin-top: 10px;
}

.topwine-section .wine-panel .wine-info .rating-sum .rating-btn .rating-star {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0c5b1;
}

.topwine-section .wine-panel .wine-info .desc {
  grid-column: span 2;
  margin-top: 20px;
}

.cta-section .cta-bg {
  /*background-image: url("/images/wineclub-hero.jpg");
  background-size: cover;*/
  background-color: #F6F4F0;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

.event-section .uk-slider {
  margin-top: 20px;
}

ul.uk-nav-default li.link-highlight {
  font-weight: 500;
}

ul.uk-nav-default a {
  padding: 0;
  color: #d0c5b1;
  cursor: pointer;
}

ul.uk-nav-default a:hover {
  color: #FFFFFF;
}

h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

p {
  margin: 0;
}

a {
  color: #FFFFFF;
}

.footer {
  color: #FFFFFF;
}

.footer .footer-panel {
  background-color: #3B3B3D;
}

.footer .footer-panel .contact {
  margin: 20px 0 0;
}

.footer .footer-panel .info {
  margin: 0 0 20px;
}

.footer .footer-panel .assortment:before,
.footer .footer-panel .assortment:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #d0c5b1;
  margin: 30px 0;
}

.footer .footer-sub-panel {
  background-color: #000000;
  text-align: center;
}

.footer .footer-sub-panel .utility-panel {
  margin: 20px 0 0;
}

