@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Comfortaa:400,500,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Sans+Pro:700&display=swap);.admin-content-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.top-nav {
  background-color: #d0c5b1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 64px;
}

.top-nav .left-side-nav {
  display: grid;
  grid-template-columns: 1fr;
}

.top-nav .left-side-nav .profile-img {
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 10px;
}

.top-nav .left-side-nav .profile-img a {
  color: white;
}

.top-nav .left-side-nav .profile-img img {
  width: 40px;
  border-radius: 50%;
}

.top-nav .left-side-nav .profile-img p {
  color: white;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
}

.top-nav .left-side-nav .profile-img span {
  color: white;
}

.top-nav .right-side-nav .site-links {
  display: grid;
  height: 100%;
  -webkit-box-pack: end;
          justify-content: end;
}

.top-nav .right-side-nav .site-links ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.top-nav .right-side-nav .site-links ul li {
  list-style-type: none;
}

.top-nav .right-side-nav .site-links ul li a {
  color: white;
}

.admin-content-wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
}

.admin-content-wrapper .sidenav {
  background: #d0c5b1;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
}

.admin-content-wrapper .sidenav * {
  color: white;
}

.admin-content-wrapper .sidenav .sidenav-header {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 10px;
}

.admin-content-wrapper .sidenav .sidenav-header h2 {
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin-bottom: 0px;
}

.admin-content-wrapper .sidenav .pages {
  list-style-type: none;
  padding-left: 0px;
}

.admin-content-wrapper .sidenav .pages li {
  padding: 20px 10px;
}

.admin-content-wrapper .sidenav .pages li:hover {
  background: #93C0A4;
}

.admin-content-wrapper .sidenav .pages li a {
  text-decoration: none;
}

.admin-content-wrapper .sidenav .pages li .dropdown {
  float: right;
}

.admin-content-wrapper .sidenav .pages .hidden-menu {
  display: none;
}

.admin-content-wrapper .sidenav .pages .dropdown {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.admin-content-wrapper .content {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url("/images/greek-vase.png");
  background-repeat: repeat;
}

/* Admin Forms*/

.admin-forms {
  background: white;
  padding: 20px;
  margin: 40px;
}

.admin-forms form {
  width: 800px;
  margin: 0 auto;
}

.flash-message-container {
  text-align: center;
  padding: 20px;
}

.disappear {
  opacity: 0;
  -webkit-transition: 2s all ease-out;
  transition: 2s all ease-out;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.8;
  letter-spacing: 0.1em;
  color: #3B3B3D;
  background-color: #fcfaf9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #3B3B3D;
  margin-top: 0;
}

h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
}

.primary-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: start;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.primary-btn a {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #d0c5b1;
  border-radius: 50px;
  padding: 10px 50px;
}

.primary-btn a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

.primary-btn--center {
  -webkit-box-align: center;
          align-items: center;
}

.uk-container {
  max-width: 1400px;
}

.uk-container--expand {
  padding: 50px 30px 70px 30px;
}

.uk-container--padding {
  padding: 50px 30px 50px 30px;
}

.hero-section {
  position: relative;
  height: 412px;
}

.hero-section .hero-image {
  background-image: url("/images/wineclub-hero.jpg");
  background-size: cover;
  height: 220px;
}

.hero-section .hero-content {
  position: absolute;
  bottom: 0;
}

.hero-section .hero-content h1,
.hero-section .hero-content h2 {
  font-size: 3rem;
  line-height: 1;
  color: #d0c5b1;
  margin: 0;
}

.hero-section .hero-content h2 {
  margin-bottom: 30px;
}

.intro-section {
  background-color: #FFFFFF;
  /*.sub-intro-panel {
      background-color: $white;
  }*/
}

.intro-section p.hightlight {
  color: #d0c5b1;
  font-weight: 700;
}

.intro-section .wine-icon {
  width: 50px;
  height: 50px;
  background-color: #3B3B3D;
  border-radius: 50%;
  margin: 10px 0;
}

.intro-section .main-intro-panel {
  padding-bottom: 0px;
}

.intro-section .main-intro-panel .intro-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro-section .main-intro-panel .intro-panel h2 {
  grid-column: span 2;
}

.intro-section .main-intro-panel .intro-panel p.hightlight {
  grid-column: span 2;
}

.intro-section .intro-panel {
  margin-bottom: 30px;
}

.intro-section .intro-panel p {
  margin-top: 10px;
}

.seperator-section .image-bg {
  background-image: url("/images/wineclub-hero.jpg");
  background-size: cover;
  height: 198px;
}

.topwine-section p {
  margin-top: 0;
}

.topwine-section span.wine-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #d0c5b1;
}

.topwine-section .wine-panel {
  padding-bottom: 0;
}

.topwine-section .wine-panel .wine-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.topwine-section .wine-panel .wine-info .info-box {
  grid-column: 1;
  grid-row: 1;
}

.topwine-section .wine-panel .wine-info .info-box .wine-type .type {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0c5b1;
}

.topwine-section .wine-panel .wine-info .rating {
  grid-column: 2;
  grid-row: 1;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.topwine-section .wine-panel .wine-info .rating .rating-sum {
  grid-row: 1;
  text-align: center;
  position: relative;
  font-weight: 700;
}

.topwine-section .wine-panel .wine-info .rating .rating-sum:after {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px dotted #d0c5b1;
  position: absolute;
  top: -26px;
  left: 19px;
}

.topwine-section .wine-panel .wine-info .rating .rating-wine {
  grid-row: 2;
}

.topwine-section .wine-panel .wine-info .rating-btn {
  text-align: center;
  margin-top: 10px;
}

.topwine-section .wine-panel .wine-info .rating-btn .rating-star {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0c5b1;
}

.topwine-section .wine-panel .wine-info .desc {
  grid-column: span 2;
  grid-row: 2;
  margin: 20px 0;
}

.topwine-section .wine-image-panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.cta-section {
  background-color: #FFFFFF;
}

.cta-section .cta-bg {
  text-align: center;
}

.cta-section .cta-bg .primary-btn {
  margin-top: 0;
}

.event-section .uk-slider {
  margin-top: 20px;
}

@media (max-width: 320px) {
  .primary-btn a {
    padding: 10px 30px;
  }

  .hero-section {
    height: 431px;
  }

  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) {
  .hero-section {
    height: 558px;
  }

  .hero-section .hero-image {
    height: 350px;
  }

  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 5rem;
  }

  .hero-section .hero-content p {
    width: 50%;
  }

  /*.seperator-section {
      .image-bg {
          height: 350px;
      }
  }*/

  .topwine-section .wine-panel .wine-info .rating {
    grid-row: span 2;
  }

  .topwine-section .wine-panel .wine-info .rating .rating-sum:after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px dotted #d0c5b1;
    position: absolute;
    top: -60px;
    left: -17px;
  }

  .topwine-section .wine-panel .wine-info .desc {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .uk-container--expand {
    padding: 100px 50px 63px 50px;
  }

  .uk-container--padding {
    padding: 100px 50px 100px 50px;
  }

  .hero-section {
    height: 684px;
  }

  .hero-section .hero-image {
    height: 450px;
  }

  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 7rem;
  }

  .intro-section .sub-intro-panel > .uk-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
  }

  .intro-section .sub-intro-panel > .uk-container .intro-panel--one {
    grid-column: 1;
  }

  .intro-section .sub-intro-panel > .uk-container .intro-panel--two {
    grid-column: 2;
  }

  .intro-section .sub-intro-panel > .uk-container .intro-panel--three {
    grid-column: 3;
  }

  /*.topwine-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5em;

      .wine-panel {
          grid-column: 1;
      }
      .wine-image-panel {
          grid-column: 2;
      }
  }*/

  .topwine-section {
    grid-template-columns: 1fr 1fr;
  }

  .topwine-section .wine-panel {
    grid-column: 1;
  }

  .topwine-section .wine-panel .wine-info .rating {
    grid-column: 2;
    grid-row: 1;
    grid-row-gap: 2em;
  }

  .topwine-section .wine-panel .wine-info .rating .rating-sum:after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px dotted #d0c5b1;
    position: absolute;
    top: -60px;
    left: -5px;
  }

  .topwine-section .wine-panel .wine-info .desc {
    grid-column: span 2;
    grid-row: 2;
  }

  .topwine-section .wine-image-panel {
    grid-column: 2;
  }
}

@media (min-width: 1440px) {
  .uk-container--expand {
    padding: 100px 0px 63px 132.5px;
  }

  .hero-section {
    height: auto;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .hero-section .hero-image {
    height: 740px;
    grid-column: 2;
  }

  .hero-section .hero-content {
    bottom: 150px;
    grid-column: 1;
  }

  .hero-section .hero-content p {
    width: 30%;
  }

  .intro-section .main-intro-panel {
    padding: 100px 0 0;
  }

  .intro-section .main-intro-panel .intro-panel h2 {
    grid-column: 1;
  }

  .intro-section .main-intro-panel .intro-panel p.hightlight {
    grid-column: 1;
  }

  .intro-section .sub-intro-panel {
    padding: 0 0 100px;
  }

  .topwine-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
  }

  .topwine-section .wine-panel {
    grid-column: 1;
  }

  .topwine-section .wine-image-panel {
    grid-column: 2;
  }
}

.main-nav {
  background-color: #FFFFFF;
}

.main-nav .uk-navbar-container {
  background-color: #FFFFFF;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-navbar-toggle svg {
  color: #3B3B3D;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-navbar-toggle svg:hover {
  color: #d0c5b1;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar {
  background-color: #d0c5b1;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-offcanvas-close svg {
  width: 20px;
  height: 20px;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-offcanvas-close svg:hover {
  color: #3B3B3D;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-nav {
  margin-top: 30px;
  font-size: 1.4rem;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-nav a:hover {
  color: #3B3B3D;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-nav .uk-active {
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-nav .uk-active > .uk-nav-sub li {
  text-transform: capitalize;
  font-weight: 400;
}

.main-nav .uk-navbar-container .uk-navbar-left .uk-offcanvas-bar .uk-nav .uk-nav-divider {
  border-top: 2px solid #FFFFFF;
}

.main-nav .uk-navbar-container .uk-navbar-right .uk-icon {
  color: #3B3B3D;
}

.main-nav .uk-navbar-container .uk-navbar-right .uk-icon:hover {
  color: #d0c5b1;
}

.main-nav .uk-navbar-container .uk-navbar-right .uk-icon .user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
}

a {
  color: #FFFFFF;
}

ul.uk-nav-default li.link-highlight {
  font-weight: 500;
}

ul.uk-nav-default a {
  padding: 0;
  color: #d0c5b1;
  cursor: pointer;
}

ul.uk-nav-default a:hover {
  color: #FFFFFF;
}

.footer {
  border-top: 2px solid #d0c5b1;
  color: #FFFFFF;
}

.footer .footer-panel {
  background-color: #3B3B3D;
}

.footer .footer-panel .assortment:before,
.footer .footer-panel .assortment:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #d0c5b1;
  margin: 30px 0;
}

.footer .footer-panel .info:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #d0c5b1;
  margin: 30px 0;
}

.footer .footer-panel > .uk-container {
  padding-bottom: 50px;
}

.footer .footer-sub-panel {
  background-color: #d0c5b1;
  height: 10px;
  /*border-top: 2px solid $primary-color;
  text-align: center;
  padding-top: 40px;

  .utility-panel {

      img.logo {
          width: 20%;
          margin-bottom: 20px;
      }
      ul > li {
          display: inline-block;
      }
      ul > li:first-child a:after {
          content: "";
          border-left: 2px solid $primary-color;
          margin: 0 20px;
      }

  }*/
}

@media (min-width: 768px) {
  .footer {
    /*.footer-sub-panel {
        .utility-panel {

            img.logo {
                width: 10%;
            }

        }
    }*/
  }

  .footer .footer-panel > .uk-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10em;
  }

  .footer .footer-panel > .uk-container .contact {
    grid-column: 1;
    grid-row: 1;
  }

  .footer .footer-panel > .uk-container .assortment {
    grid-column: 2;
    grid-row: 1;
  }

  .footer .footer-panel > .uk-container .assortment:before,
  .footer .footer-panel > .uk-container .assortment:after {
    display: none;
  }

  .footer .footer-panel > .uk-container .info {
    grid-column: 1;
    grid-row: 2;
  }

  .footer .footer-panel > .uk-container .info:after {
    display: none;
  }

  .footer .footer-panel > .uk-container .policy {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 1024px) {
  .footer .footer-panel > .uk-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5em;
  }

  .footer .footer-panel > .uk-container .contact {
    grid-column: 1;
  }

  .footer .footer-panel > .uk-container .assortment {
    grid-column: 2;
  }

  .footer .footer-panel > .uk-container .assortment:before,
  .footer .footer-panel > .uk-container .assortment:after {
    display: none;
  }

  .footer .footer-panel > .uk-container .info {
    grid-column: 3;
    grid-row: 1;
  }

  .footer .footer-panel > .uk-container .info:before {
    display: none;
  }

  .footer .footer-sub-panel .utility-panel img.logo {
    width: 10%;
  }
}

