// SECTIONS
// -- Hero --
.hero-section {
    position: relative;
    height: 412px;

    .hero-image {
        background-image: url("/images/wineclub-hero.jpg");
        background-size: cover;
        height: 220px;

    }
    .hero-content {
        position: absolute;
        bottom: 0;

        h1, h2 {
            font-size: 3rem;
            line-height: 1;
            color: $primary-color;
            margin: 0;
        }
        h2 {
            margin-bottom: 30px;
        }
    }
}

// -- Intro --
.intro-section {
    background-color: $white;

    p.hightlight {
        color: $primary-color;
        font-weight: 700;
    }

    .wine-icon {
        width: 50px;
        height: 50px;
        background-color: $dark;
        border-radius: 50%;
        margin: 10px 0;
    }

    .main-intro-panel {
        padding-bottom: 0;

        .intro-panel {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h2 {
                grid-column: span 2;
            }
            p.hightlight {
                grid-column: span 2;
            }
        }
    }
    .intro-panel {
        margin-bottom: 30px;

        p {
            margin-top: 10px;
        }
    }
}

// -- Monthly: Top wine --
.topwine-section {

    p {
        margin-top: 0;
    }
    span.wine-title {
        font-weight: 700;
        text-transform: uppercase;
        color: $primary-color;
    }

    .wine-panel {
        padding-bottom: 0;

        .wine-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .info-box {
                grid-column: 1;
                grid-row: 1;

                .wine-type {
                    .type {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: $primary-color;
                    }
                }
            }
            .rating {
                grid-column: 2;
                grid-row: 1;
                justify-content: center;
                align-items: center;
                display: grid;
                grid-template-rows: 1fr 1fr;

                .rating-sum {
                    grid-row: 1;
                    text-align: center;
                    position: relative;
                    font-weight: 700;

                    &:after {
                        content: "";
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        border: 4px dotted $primary-color;
                        position: absolute;
                        top: -26px;
                        left: 19px;
                    }
                }
                .rating-wine {
                    grid-row: 2;
                }
            }

            .rating-btn {
                text-align: center;
                margin-top: 10px;

                .rating-star {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $primary-color;
                }
            }

            .desc {
                grid-column: span 2;
                grid-row: 2;
                margin: 20px 0;
            }
        }
    }
    .wine-image-panel {
        display: flex;
        align-items: center;
    }
}

// -- CTA --
.cta-section {
    background-color: $white;

    .cta-bg {
        text-align: center;

        .primary-btn {
            margin-top: 0;
        }
    }
}

// -- Events --
.event-section {
    .uk-slider {
        margin-top: 20px;
    }
}



// MEDIA QUERIES
// XS-SMALL - MOBILE (EXTRA): This applies from 0 to 320px
@media (max-width: 320px) {

    // -- Hero --
    .hero-section {
        height: 431px;

        .hero-content {
            h1, h2 {
                font-size: 2.4rem;
            }
        }
    }
}

// MEDIUM - TABLET: This applies from 768px & onwards
@media (min-width: 768px) {

    // -- Hero --
    .hero-section {
        height: 558px;

        .hero-image {
            height: 350px;
        }
        .hero-content {
            h1, h2 {
                font-size: 5rem;
            }
            p {
                width: 50%;
            }
        }
    }

    // -- Monthly: Top wine --
    .topwine-section {
        .wine-panel {
            .wine-info {
                .rating {
                    grid-row: span 2;

                    .rating-sum {
                        &:after {
                            content: "";
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            border: 6px dotted $primary-color;
                            position: absolute;
                            top: -60px;
                            left: -17px;
                        }
                    }
                }
                .desc {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
    }
}

// XM-MEDIUM - TABLET: This applies from 1024px & onwards
@media (min-width: 1024px) {

    // -- Hero --
    .hero-section {
        height: 684px;

        .hero-image {
            height: 450px;
        }
        .hero-content {
            h1, h2 {
                font-size: 7rem;
            }
        }
    }

    // -- Intro --
    .intro-section {
        .sub-intro-panel > .uk-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5em;

            .intro-panel {
                &--one {
                    grid-column: 1;
                }
                &--two {
                    grid-column: 2;
                }
                &--three {
                    grid-column: span 2;
                }
            }
        }
    }

    // -- Monthly: Top wine --
    .topwine-section {
        grid-template-columns: 1fr 1fr;

        .wine-panel {
            grid-column: 1;

            .wine-info {
                .rating {
                    grid-column: 2;
                    grid-row: 1;
                    grid-row-gap: 2em;

                    .rating-sum {
                        &:after {
                            content: "";
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            border: 6px dotted $primary-color;
                            position: absolute;
                            top: -60px;
                            left: -5px;
                        }
                    }
                }
                .desc {
                    grid-column: span 2;
                    grid-row: 2;
                }
            }
        }
        .wine-image-panel {
            grid-column: 2;
        }
    }
}

// LARGE - DESKTOP: This applies from 1440px & onwards
@media (min-width: 1440px) {

    // SECTIONS
    // -- Hero --
    .hero-section {
        height: auto;
        display: grid;
        grid-template-columns: 30% 70%;

        .hero-image {
            height: 740px;
            grid-column: 2;
        }
        .hero-content {
            bottom: 150px;
            grid-column: 1;

            p {
                width: 35%;
            }
        }
    }

    // -- Intro --
    .intro-section {
        .main-intro-panel {
            .intro-panel {
                h2 {
                    grid-column: 1;
                }
                p.hightlight {
                    grid-column: 1;
                }
            }
        }
        .sub-intro-panel > .uk-container {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 5em;

            .intro-panel {
                &--three {
                    grid-column: 3;
                }
            }
        }
        .sub-intro-panel {
            padding: 0 0 100px;
        }
    }

    // -- Monthly: Top wine --
    .topwine-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5em;

        .wine-panel {
            grid-column: 1;
        }
        .wine-image-panel {
            grid-column: 2;
        }
    }
}



