// BASE
.club-info {
    margin-bottom: 30px;
}

.club-list-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
}




// CRUD FORM
.crud-form {
    .left-form-panel {
    }
    .right-form-panel {
        border-top: 1px dashed $primary-color;
        padding-top: 10px;
        .address-map-container {
            height: 250px;
        }
    }
}



// CREATE CARD
.create-card {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    border-radius: 30px;
    text-align: center;
    background-color: transparent;
    border: 6px solid $create-light-green;

    &:hover {
        border-color: $create-hover;
    }

    h3.uk-card-title, p {
        margin: 0;
        color: $create-green;
    }

    .icon-media {
        color: $create-green;

        .uk-icon {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -9px;
                left: -9px;
                border: 3px dotted $create-green;
                border-radius: 50px;
                padding: 30px;
            }
        }
    }
    .body-info {
        padding: 30px 0 0 0;
    }

    &--disabled {
        pointer-events: none;
        border: 6px solid $disabled-light-grey;

        h3.uk-card-title, p {
            color: $disabled-grey;
        }

        .icon-media {
            color: $disabled-grey;

            .uk-icon {
                &:before {
                    border: 3px dotted $disabled-grey;
                }
            }
        }
    }

}



// LIST CARD(,) AND USER PROFILE + CLUB PROFILE + WINE PROFILE
.list-card, .profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    border-radius: 30px;
    text-align: center;

    .uk-card-title, p {
        margin: 0;
    }

    .icon-media {
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 3px solid $primary-color;
        }
    }
    .body-info {
        padding: 15px 0 0 0;

        /*&--expand {
            width: 100%;
        }*/

        ul.uk-navbar-nav {
            a {
                min-height: auto;
                padding: 0;
                cursor: pointer;
            }
            .uk-icon-button {
                background-color: transparent;

                &:hover {
                    background-color: #f8f8f8;
                }
            }
        }
        .uk-navbar-dropdown {
            padding: 20px 30px 10px 30px;
            text-align: left;
            width: 225px;

            li {
                margin-bottom: 10px;
            }
            a {
                color: $dark;
                font-size: 0.6rem;

                &:hover {
                    text-decoration: underline;
                }
                .uk-icon > svg {
                    color: $create-green;
                    stroke-width: 2px;
                    margin-right: 10px;
                }
            }
            button {
                background-color: transparent;
                border: none;
                color: $dark;
                font-size: 0.6rem;
                letter-spacing: 0.1em;
                padding: 0;

                &:hover {
                    text-decoration: underline;
                }
                .uk-icon > svg {
                    color: $delete-red;
                    stroke-width: 2px;
                    margin-right: 10px;
                }
            }
        }

        .primary-btn {
            margin-top: 20px;
        }

        /* ONLY applies for wine list: extra feature */
        .body-info-columns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1em;
            font-size: $font-size-base;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dashed $dark;

            .left-body-panel, .right-body-panel {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .left-body-panel {
                grid-column: 1;
                text-align: left;
            }
            .right-body-panel {
                grid-column: 2;
                text-align: right;
            }
            span.bold {
                font-weight: 700;
                font-size: $font-size-base;
            }
        }
    }

}
// USER PROFILE + CLUB PROFILE + WINE PROFILE
.club-profile {

    .profile-card {
        position: relative;
        margin-bottom: 20px;
        align-items: start;
        text-align: left;

        .body-info {
            padding: 0;

            h2.uk-card-title {
                margin: 0 0 20px 0;
            }
            h3.uk-card-title {
                font-size: 1rem;

                &:not(:first-child) {
                    margin: revert;
                }
            }
        }
        // Main top column with profile image
        &--main {
            align-items: center;
            text-align: center;

            h1.uk-card-title {
                font-size: 2.5rem;
                margin: 0;
            }
            .icon-media {
                position: absolute;
                top: -30px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
            .body-info {
                padding: 80px 0 0 0;
            }
        }
        // Two columns card
        &--columns {
            margin: 0;
            padding: 0;
            background: transparent;
            display: grid;
            grid-template-columns: 1fr;
            align-items: stretch;

            & > .profile-card {
                justify-content: flex-start;

                .body-info {
                    width: 100%;
                }
            }

            .wine-rating {
                display: flex;
                flex-direction: column;
                text-align: center;

                .rating-circle {
                    position: relative;

                    &:before {
                        content: "";
                        position: relative;
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        border: 7px solid $white;
                        border-radius: 50%;
                    }
                    .rating-value {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            position: absolute;
                            top: -75px;
                            font-size: 1.2rem;
                            font-weight: 700;

                            .uk-icon {
                                vertical-align: text-bottom;

                                & svg > polygon {
                                    fill: $white;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                    .rating-star {
                        color: $white;
                        margin-top: 20px;

                        .rated svg polygon {
                            fill: $white;
                        }
                    }
                }
                .primary-btn a {
                    background-color: $secondary-color;
                    color: $dark;

                    &:hover {
                        background-color: $dark;
                        color: $white;
                    }
                }
            }
            .wine-awards {
                margin-top: 20px;
            }
        }
        // Bg highlight card
        &--highlight {
            background-color: $primary-color;

            .uk-card-title, p {
                color: $white;
            }
        }
    }

}
// CLUB PROFILE; MEMBER SECTION + CRUD MEMBERS
.club-profile-members, .club-crud-members {
    margin-bottom: 20px;

    h2 {
        margin-bottom: 0;
    }
    span {
        display: inline-block;
        margin-bottom: 10px;

        a {
            font-size: $font-size-base;
            font-weight: 700;
            color: $create-green;
            float: right;
        }
    }

    .profile-card {
        margin-bottom: 20px;
        align-items: flex-start;

        .body-info {
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-column-gap: 3em;
            text-align: left;
            padding: 0;

            h3 {
                font-size: 1rem;
            }
            p {
                font-size: $font-size-base;
            }

            .member-image {
                width: 50px;
                height: 50px;
                border: 3px solid $primary-color;
                border-radius: 50%;
            }
            .member-nickname {
                display: none;
            }
            .member-role {
                display: none;
            }
        }
    }

}
// CLUB PROFILE; CRUD MEMBERS
.club-crud-members {
    h2 {
        margin-bottom: 20px;
    }

    .profile-card {

        .body-info {
            grid-template-rows: 3fr;
            grid-row-gap: 1em;

            .member-image {
                grid-row: span 3;
            }
            .member-name {
                a {
                    color: $dark;

                    &:hover {
                        color: $dark;
                        text-decoration: underline;
                    }
                }
            }
            .member-nickname {

            }
            .member-role {
                display: inline-block;
            }
            button.crud-btn {
                background-color: transparent;
                border: none;
                color: $dark;
                padding: 0;
                text-transform: uppercase;
                font-weight: 700;

                &--green {
                    color: $create-green;
                }
                &--red {
                    color: $delete-red;
                }
            }
        }
    }

}

// CLUB PROFILE; WINE COLLECTION SECTION
.club-profile-collection {
    margin-bottom: 20px;

    .club-wine {

        .list-card {
            margin-bottom: 20px;

            .body-info {
                h3 {
                    font-size: 1rem;
                }
                p, span {
                    font-size: $font-size-base;
                }
                .primary-btn {
                    font-size: 0.6rem;
                }
            }
        }
    }
}




// MEDIA QUERIES
// XS-SMALL - MOBILE (EXTRA): This applies from 0 to 320px
@media (max-width: 320px) {

    // LIST CARD + PROFILE CARD
    .list-card, .profile-card {
        padding: 30px 20px;
    }

}

// MEDIUM - TABLET: This applies from 768px & onwards
@media (min-width: 768px) {

    //BASE
    .club-info, .club-crud-panel  {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .club-list-panel {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
    }


    // LIST CARD
    .list-card {
        &:nth-child(2n) {
            grid-column: 2;
        }
    }


    // USER PROFILE + CLUB PROFILE + WINE PROFILE
    .club-profile {
        display: grid;
        grid-template-columns: auto 80% auto;

        .profile-card {
            grid-column: 2;

            &--columns {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1em;

                & > .profile-card:first-child {
                    grid-column: 1;
                }
            }
        }
        .club-profile-members, .club-profile-collection {
            grid-column: 2;
        }
    }
    // CLUB PROFILE; MEMBER SECTION
    .club-profile-members {
        .profile-card {
            .body-info {
                display: grid;
                grid-template-columns: 50px repeat(3, 1fr);

                .member-nickname {
                    display: inline-block;
                }
                .member-role {
                    display: inline-block;
                }
            }
        }
    }
    // CLUB PROFILE; CRUD MEMBERS
    .club-crud-members {
        h2 {
            margin-bottom: 20px;
        }

        .profile-card {

            .body-info {
                grid-template-rows: 1fr;
                grid-row-gap: 0em;
                grid-template-columns: 50px repeat(3, 1fr);
                grid-column-gap: 4em;

                .member-image {
                    //grid-row: span 3;

                }
                .member-name {

                }
                .member-nickname {

                }
                .member-role {
                    display: inline-block;
                }
            }
        }

    }

    // CLUB PROFILE; WINE COLLECTION SECTION
    .club-profile-collection {
        .club-wine {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2em;

            .list-card:nth-child(2n) {
                grid-column: 2;
            }
        }
    }

}

// XM-MEDIUM - TABLET: This applies from 1024px & onwards
@media (min-width: 1024px) {

    // BASE
    .club-list-panel {
        grid-template-columns: 1fr 1fr 1fr;
    }


    // CRUD FORM
    .crud-form {
        &--two-columns {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            //grid-column-gap: 5em;

            .left-form-panel {
                grid-column: 1;
                margin-right: 30px;
            }
            .right-form-panel {
                grid-column: 2;
                border-top: 0;
                padding-top: 0;
                position: relative;
                padding-left: 30px;
                border-left: 1px dashed $primary-color;
                //margin-top: 52px;

                /*&:before {
                    content: "";
                    position: absolute;
                    top: -50px;
                    left: -40px;
                    height: 120%;
                    border: 1px dashed $primary-color;
                }*/

                .uk-textarea {
                    height: 350px;
                }
            }
        }
    }


    // LIST CARD
    .list-card {
        &:nth-child(2n) {
            grid-column: unset;
        }
        &:nth-child(3n-1) {
            grid-column: 2;
        }
        &:nth-child(3n) {
            grid-column: 3;
        }
    }
    // USER PROFILE + CLUB PROFILE + WINE PROFILE
    .club-profile {
        .profile-card {
            &--main {
                .icon-media {
                    top: -70px;

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
    // CLUB PROFILE; MEMBER SECTION
    .club-profile-members {
        .profile-card {
            .body-info {
                grid-column-gap: 5em;
                .member-role {
                    display: inline-block;
                }
            }
        }
    }
    // CLUB PROFILE; WINE COLLECTION SECTION
    .club-profile-collection {
        .club-wine {
            grid-template-columns: repeat(3, 1fr);

            .list-card:nth-child(2n) {
                grid-column: unset;
            }
            .list-card:nth-child(3n-1) {
                grid-column: 2;
            }
            .list-card:nth-child(3n) {
                grid-column: 3;
            }
        }
    }

}

// LARGE - DESKTOP: This applies from 1440px & onwards
@media (min-width: 1440px) {

    // BASE
    .club-info {
        margin-bottom: 80px;
    }

    // CLUB PROFILE; MEMBER SECTION
    .club-profile-members {
        .profile-card {
            .body-info {
                grid-column-gap: 8em;
            }
        }
    }

}
