

// BASE
.footer {
    h4 {
        font-family: $primary-font;
        line-height: 1.4;
        letter-spacing: $letter-spacing-base;
        color: $white;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 0 20px 0;
    }
    p {
        margin: 0;
        font-size: $font-size-base;
    }
    a {
        color: $white;
    }

    // -- uk-nav, uk-nav-default --
    ul.uk-nav-default {

        li.link-highlight {
            font-weight: 500;
        }

        a {
            padding: 0;
            color: $primary-color;
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }
    }
}



// FOOTER
.footer {
    border-top: 2px solid $primary-color;
    color: $white;

    .footer-panel {
        background-color: $dark;

        .panel-one {
            .contact {
                .primary-btn a {
                    font-size: $font-size-base;
                }
            }
            .assortment {
                border-top: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
                margin: 30px 0;
                padding: 30px 0;
            }
        }
        .panel-two {
            .policy {
                border-top: 1px solid $primary-color;
                margin: 30px 0;
                padding: 30px 0;
            }
        }
    }
    .footer-panel > .uk-container {
        padding-bottom: 50px;
    }

    .footer-sub-panel {
        background-color: $primary-color;
        height: 10px;
    }
}



// MEDIA QUERIES
// MEDIUM - TABLET: This applies from 768px & onwards
@media (min-width: 768px) {
    .footer {

        .footer-panel > .uk-container {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .panel-one {
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10em;

                .contact {
                    grid-column: 1;
                    border-right: 1px solid $primary-color;
                    margin-right: -40px;
                }
                .assortment {
                    grid-column: 2;
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }

            .panel-two {
                grid-row: 2;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10em;
                align-content: center;
                border-top: 1px solid $primary-color;
                margin: 30px 0;

                .info {
                    grid-column: 1;
                }
                .policy {
                    grid-column: 2;
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

// XM-MEDIUM - TABLET: This applies from 1024px & onwards
@media (min-width: 1024px) {
    .footer {

        .footer-panel > .uk-container {
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr;

            .panel-one {
                grid-column: 1;
                grid-column-gap: 10em;

                .contact {
                    margin-right: -50px;
                }
            }

            .panel-two {
                grid-row: 1;
                grid-column: 2;
                grid-column-gap: 0em;
                align-content: normal;
                border-top: none;
                margin: 0;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                align-items: center;

                .info {
                    grid-row: 1;
                }
                .policy {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
    }
}

// LARGE - DESKTOP: This applies from 1440px & onwards
@media (min-width: 1440px) {
    .footer {

        .footer-panel > .uk-container {
            grid-template-columns: 4fr 1fr;

            .panel-one {
                grid-column-gap: 30em;

                .contact {
                    margin-right: -30px;
                }
            }
        }
    }
}
